@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><center><img src="~/Content/img/images.png" /><br /> Company Information System</center></h1>
    <p class="lead">Welcome to Excellence First Company. We uphold excellence more than anything else</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Step 1: Employee Data</h2>
        <p>
            Fill out your employee's basic data by @Html.ActionLink("clicking here", "../Employees/")
        </p>

    </div>
    <div class="col-md-4">
        <h2>Step 2: Department</h2>
        <p> Fill out your department info by @Html.ActionLink("clicking here", "../Departments/")</p>

    </div>
    <div class="col-md-4">
        <h2>Step 3: Employee Role</h2>
        <p>Fill out your department info by @Html.ActionLink("clicking here", "../Role/")</p>

    </div>
    <div class="col-md-4 col-md-offset-4">
        <h2>Step 4: Assign your Employee</h2>
        <p>Assign your employee by @Html.ActionLink("clicking here", "../WorksOns/")</p>

    </div>
</div>